



.googlelogo { 
     
    position:absolute;
    top: 3cm;
    left: 13.7cm;
    font-size: 4cm;
    letter-spacing: -15px; 
    text-decoration: none;
}

 

.googlelogo:hover { 
-moz-transform: scale(1.2) rotate(360deg) skew(-32deg, 0deg);
-webkit-transform: scale(1.2) rotate(360deg) skew(-32deg, 0deg);
-o-transform: scale(1.2) rotate(360deg) skew(-32deg, 0deg);
-ms-transform: scale(1.2) rotate(360deg) skew(-32deg, 0deg);
transform: scale(1.2) rotate(360deg) skew(-32deg, 0deg);
}



.button { 
position: relative; 
right: 8cm;
top: 10cm;
right: 8.7;
cursor: pointer; 
padding: 8px;
background-color: #d9dbdc;
margin-right: 0.5cm;
border-radius: 2px;
font-family: arial,sans-serif;
}

.button:hover { 
background-color: #b2bec3;
transition: ease-out;
}




.searchbox {

position: relative; 
padding: 0.3cm;
width: 25cm;
left: 7.5cm;
top: 8cm;
border-radius: 20px;

}

.searchbox:hover { 
background-color: #dfe6e9
}

body { 
    background-color: #white
    }
    
    
    .entire-list { 
    display: flex; 
    justify-content: flex-end;
      background-color: #white;
        box-shadow: 0px 0px 0px #bdc3c7; 
      padding: 0.5cm; 
      list-style: none;   
      position: relative;
      bottom: 1cm;
    }
    
    
    .item a {
      margin-right: 1cm;  
      text-decoration: none;
      color: black;
    }
    
    .item2 { 
    margin-right: 25cm;
    
    }



   .beta { 
position: absolute;
left: 26.5cm;
top: 6.5cm;
font-size: 0.7cm;
animation-name: beta; 
animation-iteration-count: 1;
animation-duration: 10s; 
animation-timing-function: ease-out

   }

   @keyframes beta {
    0% { 
      opacity: 0.01; 
      left: 20cm;
    }
    25% {
      opacity: 0.01;
    }
    50% { 
    color: red;
      
      
  } 
    60% { 
    color: blue;
    }
    75% {
      color: #f1c40f;
    }
    85% { 
    color: green; 
    }
    100% {
      color: black; 
    }
    

    body { 
background-color: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
    }

