  




.googlelogo { 

    position:absolute;
    top: 3cm;
    left: 13.7cm;
    font-size: 4cm;
    letter-spacing: -15px; 
    text-decoration: none;


}

.button { 
position: relative; 
right: 8cm;
top: 10cm;
right: 8.7;
cursor: pointer; 
padding: 8px;
background-color: #f8f9fa;
margin-right: 0.5cm;
border-radius: 2px;
font-family: Arial, Helvetica, sans-serif;
border-style: none;
font-size: 14px;


}

.button:hover { 
background-color: #f8f9fa;
transition: ease-out;
border-style:  solid;
border-color: gray;

}



  .beta { 
position: absolute;
left: 26.5cm;
top: 6.5cm;
font-size: 0.7cm;
animation-name: beta; 
animation-iteration-count: 1;
animation-duration: 10s; 
animation-timing-function: ease-out;

}




.searchbox {

position: relative; 
padding: 0.3cm;
width: 25cm;
left: 7.5cm;
top: 8cm;
border-radius: 20px;
outline: gray;

}

.searchbox:hover { 
background-color: #f8f9fa;
}




    .entire-list { 
    display: flex; 
    justify-content: space-between;
      background-color: #white;
        box-shadow: 0px 0px 0px #bdc3c7; 
      padding: 0.5cm; 
      list-style: none;   
      position: relative;
      bottom: 1cm;
      
    }


    .item a {
      margin-right; 1cm;  
      text-decoration: none;
      color: #0e0303e8;
    }

    .item2 { 
    margin-right: 27cm;


    }

    .item4 { 
    margin-right: 2px; 
    }

    .item5  {
        box-shadow: 0px 0px 4px; 
        background-color: #1a73e8;
        padding: 9px 23px; 
        border-radius: 2px;
        font-color: white;
        position: relative; 
        bottom: 5.5px;

    }

    .signin a  { 
color: #fff;
    }


.signin:hover { 
opacity: 0.8;
}




.googlelogo:hover { 
-moz-transform: scale(1.2) rotate(360deg) skew(-32deg, 0deg);
-webkit-transform: scale(1.2) rotate(360deg) skew(-32deg, 0deg);
-o-transform: scale(1.2) rotate(360deg) skew(-32deg, 0deg);
-ms-transform: scale(1.2) rotate(360deg) skew(-32deg, 0deg);
transform: scale(1.2) rotate(360deg) skew(-32deg, 0deg);
}



.button { 
position: relative; 
right: 8cm;
}


footer { 
  height: 2cm; 
  box-shadow: 0px 0px 1px;
  position: relative; 
  top: 16cm; 
  text-decoration: none;  
  background-color: #f8f8f8;
  opacity: 0.6;  
  
  }

  .footerstyle { 
    font-size: 0.5cm;
  }

  .container { 
    display: flex;
    justify-content: space-evenly;
  
  }

  .element { 
    margin-right: 20cm ;
  }



 



   @keyframes beta {
    0% { 
      opacity: 0.01; 
      left: 20cm;
    }
    25% {
      opacity: 0.01;
    }
    50% { 
    color: red;
  } 
    60% { 
    color: blue;
    }
    75% {
      color: #f1c40f;
    }
    85% { 
    color: green; 
    }
    100% {
      color: black; 
    }


